package components

templ Contact() {
	<div class={ "font-geist-light", "text-sm", "p-10", "md:py-24", "max-w-md" }>
		<p class={ "animate-fade-in" }>
			Feel free to contact me through e-mail at <a class={ "hover:underline" } href="mailto:midasvanveen.email@gmail.com">midasvanveen.email@gmail.com ↗</a>, 
			or send me a message on <a class={ "hover:underline" } href="https://www.linkedin.com/in/midas-van-veen-229889196/">LinkedIn ↗</a>
		</p>
	</div>
}
